<p>
  <calcite-button {{on 'click' this.seedValueWithFocusShift}}>
    <span>Seed value <em>with</em> focus shift</span>
  </calcite-button>
</p>

<calcite-label>
	Seeded value
	<calcite-input
    id="seeded"
    value={{this.seededValue}}
    {{on 'calciteInputChange' this.didChangeSeededInput}}></calcite-input>
</calcite-label>